* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --background: #000;
    --background_2: linear-gradient(to right, rgb(0, 0, 0), rgb(67, 67, 67));;
    --text: #ffd11a;
    --title: linear-gradient(to right, rgb(19, 106, 138), rgb(38, 120, 113));;
    --red: #e83f5b;
    --linear_1: linear-gradient(to right, rgb(192, 36, 37), rgb(240, 203, 53));;
    --linear_2: linear-gradient(to right, rgb(86, 171, 47), rgb(168, 224, 99));
}

@media(max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media(max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}

body {
    background: var(--background);
    color: var(--text);
}

body, input, textarea, button {
    font: 400 1rem "inter", sans-serif;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}



